<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Je cuisine végétarien{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/blogback/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/blogback/css/bootstrap-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/blogback/css/custom.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/blogfront/css/customFront.css') }}">

        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}
            {% block header %}
            {% endblock %}
            {% block main %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        {% endblock %}
</div>
        {% block javascripts %}
            <!-- Librairies JQuery de BS -->
            {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
            <script src="{{ asset('bundles/blogback/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/blogback/js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
