{% extends "blog_cuisineFrontBundle:FrontGeneral:navigation.html.twig" %} {% block main %} {{parent()}}

    <div class="row">
        <div class="row"> {% for article in articles %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('article',{id:article.id})   }}"> <img class="imgAppli" src="{{ asset('bundles/blogback/imgRecette/')}}{{article.chemin}} " alt="{{article.titre}}" style="height:120px" />
                        <div class="articleHome caption">
                            <p class="articleHome">{{article.titre}}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor%}
            </div>

        </div>
        <div class="retourPage">
            <a href="#haut">retour en haut de la page</a>
        </div> 

        {% endblock %}