{% extends "blog_cuisineFrontBundle:FrontGeneral:navigation.html.twig" %}



{% block main %}
    {{parent()}}

    <div class="row">
        <div class="col-xs-12">

            <br>
            <h1>Recettes trouvées :</h1>
            {% for article in articles %}
                <a href="{{path('article', {id:article.id}  )}}">
                    <div class="recherche">

                        <p> <img class="imgAppli" src="{{ asset('bundles/blogback/imgRecette/')}}{{article.chemin}} " height="40px"/>
                            {{article.titre}}
                        </p>
                    </div>
                </a>
            {% endfor%}

            <a href="#haut">retour en haut de la page</a>
        </div>
    </div>
{% endblock %}
